In [1]:
import pandas as pd
from pandas import read_csv
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier

**Question 1**

In [2]:
filename = 'Company_Data.csv'
dataframe = read_csv(filename)

In [3]:
dataframe

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,Bad,42,17,Yes,Yes
1,11.22,111,48,16,260,83,Good,65,10,Yes,Yes
2,10.06,113,35,10,269,80,Medium,59,12,Yes,Yes
3,7.40,117,100,4,466,97,Medium,55,14,Yes,Yes
4,4.15,141,64,3,340,128,Bad,38,13,Yes,No
...,...,...,...,...,...,...,...,...,...,...,...
395,12.57,138,108,17,203,128,Good,33,14,Yes,Yes
396,6.14,139,23,3,37,120,Medium,55,11,No,Yes
397,7.41,162,26,12,368,159,Medium,40,18,Yes,Yes
398,5.94,100,79,7,284,95,Bad,50,12,Yes,Yes
399,9.71,134,37,0,27,120,Good,49,16,Yes,Yes

In [8]:
labels=['bad','average','good']
bins=[0,5,10,17]
dataframe['Sales']=pd.cut(dataframe['Sales'],bins=bins,labels=labels)

TypeError: '<' not supported between instances of 'int' and 'str'

In [5]:
dataframe

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,average,138,73,11,276,120,Bad,42,17,Yes,Yes
1,good,111,48,16,260,83,Good,65,10,Yes,Yes
2,good,113,35,10,269,80,Medium,59,12,Yes,Yes
3,average,117,100,4,466,97,Medium,55,14,Yes,Yes
4,bad,141,64,3,340,128,Bad,38,13,Yes,No
...,...,...,...,...,...,...,...,...,...,...,...
395,good,138,108,17,203,128,Good,33,14,Yes,Yes
396,average,139,23,3,37,120,Medium,55,11,No,Yes
397,average,162,26,12,368,159,Medium,40,18,Yes,Yes
398,average,100,79,7,284,95,Bad,50,12,Yes,Yes
399,average,134,37,0,27,120,Good,49,16,Yes,Yes

In [9]:
from sklearn.preprocessing import LabelEncoder
from sklearn import preprocessing

In [10]:
string_columns = ["Sales","ShelveLoc","Urban","US"]   
for i in string_columns:
    number = preprocessing.LabelEncoder()
    dataframe[i] = number.fit_transform(dataframe[i])

TypeError: Encoders require their input to be uniformly strings or numbers. Got ['float', 'str']

In [ ]:
dataframe

**Question 2**

In [ ]:
filename = 'Fraud_check.csv'
dataframe1 = read_csv(filename)

In [ ]:
dataframe1

In [ ]:
Data = dataframe1.rename({'Marital.Status': 'Marital_Status','Taxable.Income':'Taxable_Income',
                          'City.Population':'City_Population','Work.Experience':'Work_Experience'}, axis=1)

In [ ]:
Data

In [ ]:
labels=['Good','Risky']
bins=[0,>3000,<=3000]
Data['Taxable_Income']=pd.cut(Data['Taxable_Income'],bins=bins,labels=labels)