In [1]:
!pip install wordcloud
!pip install textblob

Requirement already satisfied: wordcloud in c:\users\mayu\downloads\anaconda\lib\site-packages (1.8.1)
Requirement already satisfied: numpy>=1.6.1 in c:\users\mayu\downloads\anaconda\lib\site-packages (from wordcloud) (1.21.2)
Requirement already satisfied: matplotlib in c:\users\mayu\downloads\anaconda\lib\site-packages (from wordcloud) (3.3.4)
Requirement already satisfied: pillow in c:\users\mayu\downloads\anaconda\lib\site-packages (from wordcloud) (8.2.0)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\mayu\downloads\anaconda\lib\site-packages (from matplotlib->wordcloud) (2.8.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in c:\users\mayu\downloads\anaconda\lib\site-packages (from matplotlib->wordcloud) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\mayu\downloads\anaconda\lib\site-packages (from matplotlib->wordcloud) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\mayu\downloads\anaconda\lib\site-packages (from matplotlib->wordcloud) (0.10.0)
Requirement already satisfied: six in c:\users\mayu\downloads\anaconda\lib\site-packages (from cycler>=0.10->matplotlib->wordcloud) (1.15.0)
Requirement already satisfied: textblob in c:\users\mayu\downloads\anaconda\lib\site-packages (0.15.3)
Requirement already satisfied: nltk>=3.1 in c:\users\mayu\downloads\anaconda\lib\site-packages (from textblob) (3.6.1)
Requirement already satisfied: click in c:\users\mayu\downloads\anaconda\lib\site-packages (from nltk>=3.1->textblob) (7.1.2)
Requirement already satisfied: joblib in c:\users\mayu\downloads\anaconda\lib\site-packages (from nltk>=3.1->textblob) (1.0.1)
Requirement already satisfied: tqdm in c:\users\mayu\downloads\anaconda\lib\site-packages (from nltk>=3.1->textblob) (4.59.0)
Requirement already satisfied: regex in c:\users\mayu\downloads\anaconda\lib\site-packages (from nltk>=3.1->textblob) (2021.4.4)

In [3]:
import requests    
from bs4 import BeautifulSoup as bs 
import re 
import nltk
from nltk.corpus import stopwords
import matplotlib.pyplot as plt
from wordcloud import WordCloud
import pandas as pd

In [4]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer
sid = SentimentIntensityAnalyzer()

In [13]:
df = pd.read_csv('Elon_musk.csv')
df.head()

   Unnamed: 0                                               Text
0           1                             @kunalb11 I�m an alien
1           2  @ID_AA_Carmack Ray tracing on Cyberpunk with H...
2           3                @joerogan @Spotify Great interview!
3           4                    @gtera27 Doge is underestimated
4           5  @teslacn Congratulations Tesla China for amazi...

In [7]:
type(df)

pandas.core.frame.DataFrame

In [15]:
df['scores'] = df['Text'].apply(lambda review: sid.polarity_scores(review))
df.head()

,Unnamed: 0,Text,scores
0,1,@kunalb11 I�m an alien,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound..."
1,2,@ID_AA_Carmack Ray tracing on Cyberpunk with H...,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound..."
2,3,@joerogan @Spotify Great interview!,"{'neg': 0.0, 'neu': 0.406, 'pos': 0.594, 'comp..."
3,4,@gtera27 Doge is underestimated,"{'neg': 0.412, 'neu': 0.588, 'pos': 0.0, 'comp..."
4,5,@teslacn Congratulations Tesla China for amazi...,"{'neg': 0.0, 'neu': 0.644, 'pos': 0.356, 'comp..."

In [16]:
df['compound']  = df['scores'].apply(lambda scores: scores['compound'])
df.head()

,Unnamed: 0,Text,scores,compound
0,1,@kunalb11 I�m an alien,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000
1,2,@ID_AA_Carmack Ray tracing on Cyberpunk with H...,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000
2,3,@joerogan @Spotify Great interview!,"{'neg': 0.0, 'neu': 0.406, 'pos': 0.594, 'comp...",0.6588
3,4,@gtera27 Doge is underestimated,"{'neg': 0.412, 'neu': 0.588, 'pos': 0.0, 'comp...",-0.2732
4,5,@teslacn Congratulations Tesla China for amazi...,"{'neg': 0.0, 'neu': 0.644, 'pos': 0.356, 'comp...",0.8513

In [18]:
df['comp_score'] = df['compound'].apply(lambda c: 'pos' if c >=0 else 'neg')

In [19]:
df.head()

,Unnamed: 0,Text,scores,compound,comp_score
0,1,@kunalb11 I�m an alien,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,pos
1,2,@ID_AA_Carmack Ray tracing on Cyberpunk with H...,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.0000,pos
2,3,@joerogan @Spotify Great interview!,"{'neg': 0.0, 'neu': 0.406, 'pos': 0.594, 'comp...",0.6588,pos
3,4,@gtera27 Doge is underestimated,"{'neg': 0.412, 'neu': 0.588, 'pos': 0.0, 'comp...",-0.2732,neg
4,5,@teslacn Congratulations Tesla China for amazi...,"{'neg': 0.0, 'neu': 0.644, 'pos': 0.356, 'comp...",0.8513,pos

In [20]:
df['comp_score'].value_counts()

pos    1768
neg     231
Name: comp_score, dtype: int64